.markets {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

h2 {
    text-decoration: none;
    color: #2e2c36;
    font-size: small;
    font-family: 'Poppins';
    font-weight: 500;
    width: 60%;
}

h3 {
    align-content: start;
    text-decoration: none;
    color: #2e2c36;
    font-size: small;
    font-family: 'Poppins';
    font-weight: normal;
    white-space: nowrap;
    margin-left: 8px;
    overflow: hidden;
}

.time {
    display: flex;
    align-items: center;
}